.vscode/
.ionide/
.ipynb_checkpoints/
.nuget/
.fake
.fsdocs/

rinf-data/
rinf-data-bak/
db-data/
osm-data/
node_modules/
private_modules/
build/
bin/
obj/
output/
tmp/
vsmacros/

gh-pages/

*.bundle.js
*.bundle.js.map
*.tgz

package-lock.json

[xyz].json
[xyz].txt
